###########################################
###     configuration file for SMT      ###
###                                     ###
###              2013-04-19             ###
###########################################


# system log path
param="system-log"              value="G:\Debug.SMT\input.output\system.detoken.log"


