###########################################
###     configuration file for SMT      ###
###                                     ###
###              2013-04-19             ###
###########################################


# log path
param="system-log"                     value="G:\Debug.SMT\input.output\system.detoken.log"

# punct mapping dictionary for detoken
param="Punct-Mapping-Dict"      value="G:\Debug.SMT\detokenizer\punctuation.mapping.dat"
