###########################################
### NiuTrans decoder configuration file ###
###          Translation Memory         ###
###              2013-05-06             ###
###########################################

#>>> runtime resource tables

param="Translation-Memory-Table"    value="G:\Debug.SMT\tm.model.resource\tm.model"

param="Punct-Dict"                  value="G:\Debug.SMT\tm.model\punctuation.dat"

param="Ending-Punct-Dict"           value="G:\Debug.SMT\tm.model\ending.punctuation.dat"

param="System-Log"                  value="G:\Debug.SMT\tm.model\System.translation.memory.log"

param="Log"                         value="G:\Debug.SMT\tm.model\Debug.translation.memory.log"

# For Training Translation Memory Model
param="Src-TM-File"                 value="G:\Debug.SMT\tm.model.resource\c.token"
param="Tgt-TM-File"                 value="G:\Debug.SMT\tm.model.resource\e.token"

