###########################################
###     configuration file for SMT      ###
###                                     ###
###              2013-04-19             ###
###########################################

# config file for phrase-based decoder
param="decoder-config-file"     value="G:\Debug.SMT\config\NiuTrans.phrase.config"

# system log path
param="system-log"              value="G:\Debug.SMT\input.output\system.decoder.log"

# log path
param="log"                     value="G:\Debug.SMT\input.output\debug.decoder.log"

# system task: Chinese-English Translation
param="target-language"         value="anylang"
