###########################################
###     configuration file for SMT      ###
###                                     ###
###              2013-04-19             ###
###########################################


# config file for recaser
param="recaser-config-file"            value="H:\Debug.SMT\config\NiuTrans.phrase.recasing.config"


# log path
param="system-log"                     value="H:\Debug.SMT\input.output\system.detoken.log"


