###########################################
###     configuration file for SMT      ###
###                                     ###
###              2013-04-19             ###
###########################################


# config file for recaser
param="recaser-config-file"     value="G:\Debug.SMT\config\NiuTrans.phrase.recasing.config"

# system log path
param="system-log"              value="G:\Debug.SMT\input.output\system.decoder.log"

