###########################################
### NiuTrans decoder configuration file ###
###          phrase-based system        ###
###              2011-07-01             ###
###########################################

#>>> runtime resource tables

# language model
param="Ngram-LanguageModel-File"     value="G:\MY-WORK\NiuTransServer.Decoder\data\model.small\lm.trie.data"

# target-side vocabulary
param="Target-Vocab-File"            value="G:\MY-WORK\NiuTransServer.Decoder\data\model.small\lm.vocab"

# MaxEnt-based lexicalized reordering model
param="ME-Reordering-Table"          value="G:\MY-WORK\NiuTransServer.Decoder\data\model.small\me.reordering.table"

# phrase translation model
param="Phrase-Table"                 value="G:\sample-data\transtable.filter.add8feat"

# binary phrase translation model 
param="Phrase-Table-Binary"          value="G:\MY-WORK\NiuTransServer.Decoder\data\model.small\phrase.table.filter.add8feat.bina" 
param="Phrase-Table-Binary-SrcPhr"   value="G:\MY-WORK\NiuTransServer.Decoder\data\model.small\phrase.table.filter.add8feat.bina.src.phrtab.vocab"
param="Phrase-Table-Binary-TgtPhr"   value="G:\MY-WORK\NiuTransServer.Decoder\data\model.small\phrase.table.filter.add8feat.bina.tgt.phrtab.vocab"

#>>> runtime parameters

# number of MERT iterations
param="nround"                       value="3"

# order of n-gram language model
param="ngram"                        value="3"

# beam size (or beam width)
param="beamsize"                     value="30"

# how many translations are dumped
param="nbest"                        value="1"

# number of references of dev. set
param="nref"                         value="4"

# distortion limit
param="maxreorderdis"                value="10"

# maximum phrase length
param="maxphraselength"              value="3"

# number of threads
param="nthread"                      value="0"

# use punctuation pruning (1) or not (0)
# me
param="usepunctpruning"              value="1"
# xiao
param="usepuncpruning"               value="1"

# use cube-pruning (1) or not (0)
param="usecubepruning"               value="1"
param="usecubepruninginc"            value="1"

# use maxent reordering model (1) or not (0)
param="use-me-reorder"               value="1"

# use msd reordering model (1) or not (0)
param="use-msd-reorder"              value="0"

# output OOV words
param="outputoov"                    value="0"

param="labeloov"                     value="1"

# output source words that are explicitly deleted
# xiao
param="outputnull"                   value="0"

# allow null-translation (i.e. word-deletion)
# xiao
param="usenulltrans"                 value="0"

# allow sequence of null-translations
# xiao
param="snulltrans"                   value="1"

# normalize output (1) or not (0)
# xiao
param="normalizeoutput"              value="0"

# lowercase translation result
# xiao
param="lowertext"                    value="1"

param="maxsentlength"                value="500"

#param="freefeature"                  value="8"

#>>> model parameters

# features used
#  0: n-gram language model
#  1: number of target-words
#  2: Pr(e|f). f->e translation probablilty.
#  3: Lex(e|f). f->e lexical weight
#  4: Pr(f|e). e->f translation probablilty.
#  5: Lex(f|e). e->f lexical weight
#  6: number of phrases
#  7: number of bi-lex links (not fired in current version)
#  8: number of NULL-translation (i.e. word deletion)
#  9: MaxEnt-based lexicalized reordering model
# 10: <UNDEFINED>
# 11: MSD reordering model: Previous & Monotonic
# 12: MSD reordering model: Previous & Swap
# 13: MSD reordering model: Previous & Discontinuous
# 14: MSD reordering model: Following & Monotonic
# 15: MSD reordering model: Following & Swap
# 16: MSD reordering model: Following & Discontinuous

# bound the feature weight in MERT
# e.g. the first number "-3:7" means that the first feature weight ranges in [-3, 7]
param="ranges"                       value="-3:7 -1:3 0:3 0:0.4 0:3 0:0.4 -3:3 -3:3 -3:0 -3:3 0:0 0:0 0:0 0:0 0:0 0:0 0:0"

# fix a dimention (1) or not (0)
param="fixedfs"                      value="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0"

## MAX BLEU SCORE=0.3646
param="weights"                      value="1.811 1.403 0.727 0.309 0.677 0.171 2.089 0.000 0.000 1.392 0.000 0.000 0.000 0.000 0.000 0.000 0.000"


