###########################################
### NiuTrans decoder configuration file ###
###          Translation Memory         ###
###              2013-05-06             ###
###########################################

#>>> runtime resource tables

param="Translation-Memory-Table"    value="G:\MY-WORK\NiuTransServer.Decoder\Decoder\Decoder\output\output.txt"

param="Punct-Dict"                  value="G:\MY-WORK\NiuTransServer.Decoder\Decoder\Decoder\resource\punctuation.dat"
