###########################################
###     configuration file for SMT      ###
###                                     ###
###              2013-04-19             ###
###########################################

# config file for phrase-based decoder
param="decoder-config-file"     value="G:\MY-WORK\NiuTransServer.Decoder\Decoder\Decoder\config\NiuTrans.phrase.utf8.big.config"

# config file for recaser
param="recaser-config-file"     value="G:\MY-WORK\NiuTransServer.Decoder\Decoder\Decoder\config\NiuTrans.phrase.recasing.config"

# config file for translation memory
param="tm-config-file"          value="G:\MY-WORK\NiuTransServer.Decoder\Decoder\Decoder\config\NiuTrans.translation.memory.config"

# log path
param="log"                     value="G:\MY-WORK\NiuTransServer.Decoder\Decoder\Decoder\output\SMT.log.txt"

# system task: English-Chinese Translation
param="target-language"         value="zh"
