###########################################
### NiuTrans decoder configuration file ###
###          Translation Memory         ###
###              2013-05-06             ###
###########################################

#>>> runtime resource tables

param="Translation-Memory-Table"    value="../data/smt-data/tm-model/translation.memory.model"

param="Punct-Dict"                  value="../data/smt-data/tm-model/punctuation.dat"
