param="use_threadpool"                           value="1"

param="threadpool_dll_windows_path"              value="../lib/threadpool_lib.dll"
param="threadpool_dll_linux_path"                value="../lib/libthreadpool.so"
param="threadpool_config_path"                   value="../config/job.server/smt-config/threadpool.config"

param="function_dll_windows_path"                value="../lib/lm_server_lib.dll"
param="function_dll_linux_path"                  value="../lib/libDecoderLib.so"
param="function_config_path"                     value="../config/job.server/smt-config/SMT.config"

